<template>
  <div id="app2">
    <h1>Todo List</h1>
    <div class="wrapper">
      <input type="text" v-model="inputValue" />
      <button @click="Addnewitem()">Add</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "FormAdd",
  data() {
    return {
      inputValue: "",
    };
  },
  methods: {
    Addnewitem: function () {
      this.$emit("working", this.inputValue);
      
    },
  },
};
</script>

<style>
#app2 {
  max-width: 1200px;
  width: 100%;
  /* height: 130px; */
  padding: 50px 0px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-bottom:2px solid grey
}
.wrapper {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 40px;
}
.wrapper > * {
  border-radius: 9px;
  outline: none;
  border: 3px solid blue;
  font-size: 17px;
   font-family: Gilroy;

}
input {
  width: 320px;
  height: 90%;
  margin-right: 10px;
  outline: none;

  font-weight: 700;
  padding-left:10px;
}
button {
  width: 150px;
  height: 110%;
  color: #fff;
  background-color: blue;
  transition: all 0.3s ease;
  cursor:pointer;
}
button:active {
  transition: all 0.3s ease;
  transform: scale(.95);
}
</style>