<template>
  <div id="app1">
    <div class="item">
      <div class="desc">
      <h2>{{element.title}}</h2>
      <p>{{element.time}}</p>
      </div>
     <div  @click="DeletenewItem()" class="cross">
       <span>	&#10006</span>
     </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Todoitem",
  props: ["element"],
  methods: {
    DeletenewItem: function () {
      this.$emit("deleteItem");
    },
  },
};
</script>

<style>
#app1{
  max-width: 1200px;
  width:100%
}
.item {
  display: flex;
  width: 300px;
  height: max-content;
  border: 2px solid blue;
  border-radius: 9px;
  padding: 0px 20px;
  position: relative;
  color: #000;
  transition: all 0.3s ease-in-out;
  margin: 10px 10px;
  background-color: rgb(233, 231, 231);
  clear: both;
}
.desc {
  width: 220px;
 
  word-break: break-all;
}
.item:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 0 5px;
}

p {
  font-style: italic;
  opacity: 0.8;
}
.cross {
  position: absolute;
  right: 10%;
  top: 25%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  opacity: 0.8;
  font-size: 12px;
}
.cross:hover {
  border: 2.5px solid red;
  color: red;
}
</style>