<template>
  <div id="app">
    <FormAdd @working="Addtodo" />
    <div class="todo">
    <Todoitem v-for="item of todos" :key="item.id" :element="item"  @deleteItem="RemoveItem()"/>
    </div>
  </div>
</template>

<script>
import Todoitem from "./components/Todoitem.vue";
import FormAdd from "./components/FormAdd.vue";
export default {
  name: "App",
  data: () => {
    return {
      todos: [
        // {
        //   id: 1,
        //   title: "regbnm vjkjrj",
        //   time: "18:44",
        //   isDelete: false,
        // },
      ],
    };
  },
  methods: {
    Addtodo: function (text) {
      if(text){
        this.todos.push({
          id: Math.random(),
          title: text,
          time:
            new Date().getHours() +
            ":" +
            new Date().getMinutes() +
            ":" +
            new Date().getUTCSeconds(),
          isDelete: false,
        });

      }
      
    },
    RemoveItem: function(key){
      let find = this.todos.filter((item)=> item.id == key)[0]
       let idx = this.todos.indexOf(find)
       this.todos.splice(idx,1)
      
    }
  },
  components: {
    Todoitem,
    FormAdd,
  },
};
</script>

<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: #2c3e50;
  font-family: Gilroy;
  max-width: 1200px;
  width:100%;
  margin:auto;
  position:relative;
}
.todo{
  height: max-content;
  padding: 0px 40px;
  margin:20px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;

}
</style>
